__pycache__/
*.tar.gz
*.wav
*.TextGrid
*.srt
text
wav.scp
utt2event
pretrained_models/
*.swp
*.swo
data/
!semantic_asr/firered_runtime/fireredasr2/data/
!semantic_asr/firered_runtime/fireredasr2/data/*.py
!semantic_asr/firered_runtime/fireredpunc/data/
!semantic_asr/firered_runtime/fireredpunc/data/*.py
!uroman/data/
!uroman/data/*.txt
output/
service_data/
*.egg-info/
qwen_api.md
